* {
  box-sizing: border-box;
}

html {
  margin: 40px;
}

body {
  background-color: rgba(120,140,120,0.3);
  text-align: justify;
  font-family: "Segoe Script";
  font-size: 20px;
  line-height: 2;
}

strong {
  color: red;
}

figure {
  border-style: solid;
  float: left;
}

figcaption {
  font-size: 15px;
  color: green;
  font-weight: 600;
}

h1 {
  text-align: center;
  text-decoration: none;
  border-bottom: 10px solid green;
  border-bottom-color: rgba(70,115,130,0.5);
}

a {
  color: blue;
}

a:hover {
  color: green;
}

#link {
  text-decoration: underline;
  text-align: center;
}

#list {
  text-align: center;
}

ol {
  background-color: rgba(70,115,130,0.5);
  border-radius: 5%;
  width: 450px;
  text-align: center;
  display: inline-block;
}

li {
  text-align: left;
}

.source {
  text-align: center;
  font-size: 15px;
}

table, caption, tr, th,td {
  border: 2px solid black;
}

table {
  text-align: center;
  padding: 5px;
  border-collapse: collapse;
  width: 700px;
}

caption {
  font-weight: 900;
}

th {
  background-color: rgba(70,115,130,0.5)
}

#color {
  color: red;
  font-weight: 600;
}